### DataFrame

DataFrame merupakan sturuktur data pandas yang merepresentasikan bentuk tabel yang terdiri dari baris-baris dan kolom-kolom. 

![dataframe.jpg]()

**Membuat DataFrame**

Untuk membuat tabel menggunakan DataFrame, bisa menggunakan fungsi `pd.DataFrame()`. Cara yang paling umum untuk membuat dataframe yaitu menggunakan data dictionary yang berisi list dengan panjang yang sama.
Misalnya data transaksi di bawah ini.

|kode_barang|nama_barang|jenis_barang|jumlah|
|:--|--|--|--:|
|IDMF|Indomie|Food|5|
|TROF|Taro|Food|2|
|GODF|Good Day|Food|1|
|DETN|Detergen|Non-food|1|

In [3]:
import pandas as pd

In [4]:
# buat data dalam bentuk data dictionary python
dict_data = {
    "nama_barang": ["Indomie", "Taro", "Good Day", "Detergen"],
    "jenis_barang": ["food", "food", "food", "non-food"],
    "jumlah": [5, 2, 1, 1]
}

# buat dataframe dari data dictionary
df = pd.DataFrame(dict_data)

# tampilkan data
df

  nama_barang jenis_barang  jumlah
0     Indomie         food       5
1        Taro         food       2
2    Good Day         food       1
3    Detergen     non-food       1

Index baris akan otomatis menggunakan angka mulai dari 0. Tapi, kita juga dapat mengubahnya secara manual menggunakan parameter `index` pada fungsi `pd.DataFrame()`

In [5]:
# buat data dalam bentuk data dictionary python
dict_data = {
    "nama_barang": ["Indomie", "Taro", "Good Day", "Detergen"],
    "jenis_barang": ["food", "food", "food", "non-food"],
    "jumlah": [5, 2, 1, 1]
}

# buat index data dalam bentuk python list
index_data = ["IDMF", "TROF", "GODF", "DETN"]

# buat dataframe dari data dictionary
df2 = pd.DataFrame(dict_data, index=index_data)

# tampilkan data
df2

     nama_barang jenis_barang  jumlah
IDMF     Indomie         food       5
TROF        Taro         food       2
GODF    Good Day         food       1
DETN    Detergen     non-food       1

DataFrame dan Series saling berhubungan. Jika kita ingin melihat hanya salah satu kolom dari dataframe, hasilnya akan ditampilkan dalam bentuk series. Jadi, dapat dikatakan bahwa DataFrame merupakan gabungan kolom dari satu atau lebih data series.

In [6]:
# tampilkan kolom nama_barang dalam bentuk series
df2["nama_barang"]

IDMF     Indomie
TROF        Taro
GODF    Good Day
DETN    Detergen
Name: nama_barang, dtype: object

In [7]:
# tampilkan jenis data kolom nama_barang
type(df2["nama_barang"])

pandas.core.series.Series

**Akses DataFrame**

Pada dataframe, terdapat **baris**, **kolom**, dan **cell**. Masing-masing punya cara mengakses yang berbeda-beda. Secara general kita bisa mengakses data dengan cara

* `dataframe.loc[[namaindex], [namakolom]]`

*Akses Baris*

Mengakses baris pada dataframe dapat dilakukan  dengan cara:

* `dataframe.loc[[namaindex]]` 

Pada fungsi `loc`, parameternya menggunakan nama index. Misalnya data Good Day itu nama indexnya "GODF".

In [8]:
# akses baris menggunakan fungsi loc
df2.loc[["GODF"]]

     nama_barang jenis_barang  jumlah
GODF    Good Day         food       1

In [9]:
# akses lebih dari 1 baris menggunakan fungsi loc
df2.loc[["GODF","DETN"]]

     nama_barang jenis_barang  jumlah
GODF    Good Day         food       1
DETN    Detergen     non-food       1

*Akses Kolom*

Mengakses kolom pada dataframe dapat dilakukan  dengan cara:

* `dataframe.loc[:,[namakolom]]` 

Fungsi `loc` membutuhkan *nama kolom*.

Hal lain yang menjadi pembeda yaitu tanda `:`. Tanda itu berarti "select semua baris".

In [10]:
# akses kolom menggunakan fungsi loc
df2.loc[:,["nama_barang"]]

     nama_barang
IDMF     Indomie
TROF        Taro
GODF    Good Day
DETN    Detergen

In [11]:
# akses lebih dari 1 kolom menggunakan fungsi loc
df2.loc[:,["nama_barang","jumlah"]]

     nama_barang  jumlah
IDMF     Indomie       5
TROF        Taro       2
GODF    Good Day       1
DETN    Detergen       1

*Akses Cell*

Mengakses cell pada dataframe dapat dilakukan  dengan cara:

* `dataframe.loc[[namaindex],[namakolom]]` 

Fungsi `loc` membutuhkan nama kolom/baris.

In [12]:
# akses cell menggunakan fungsi loc
df2.loc[["GODF"],["nama_barang"]]

     nama_barang
GODF    Good Day

In [13]:
# akses lebih dari 1 cell menggunakan fungsi loc
df2.loc[["GODF","DETN"],["nama_barang","jumlah"]]

     nama_barang  jumlah
GODF    Good Day       1
DETN    Detergen       1

**Update data pada DataFrame**

Untuk melakukan update data pada dataframe, kita harus tahu cara mengakses data. Setelah mengakses data, data baru dapat ditimpa ke data lama.

*Update baris*

Untuk melakukan update pada baris tertentu, dapat menggunakan pola `baris_yang_ingin_diupdate = listdata`. Misalnya ingin mengupdate data pada baris "GODF", akses terlebih dahulu baris "GODF" kemudian beri list data updatenya. Perlu diperhatikan bahwa panjang listnya harus sesuai dengan banyaknya kolom.

In [14]:
# tampilkan data
df2

     nama_barang jenis_barang  jumlah
IDMF     Indomie         food       5
TROF        Taro         food       2
GODF    Good Day         food       1
DETN    Detergen     non-food       1

In [15]:
# update baris GODF menggunakan fungsi loc
df2.loc["GODF"] = ["GG Day", "Food", "3"] 

# tampilkan data
df2

     nama_barang jenis_barang jumlah
IDMF     Indomie         food      5
TROF        Taro         food      2
GODF      GG Day         Food      3
DETN    Detergen     non-food      1

*Update kolom*

Untuk melakukan update pada kolom tertentu, dapat menggunakan pola `kolom_yang_ingin_diupdate = listdata`. Misalnya ingin mengupdate data pada kolom "jenis_barang", akses terlebih dahulu kolom "jenis_barang" kemudian beri list data updatenya. Perlu diperhatikan bahwa panjang listnya harus sesuai dengan banyaknya baris.

In [16]:
# update nilai kolom jumlah
df2.loc[:,"jumlah"] = [5, 3, 2, 2] 

# tampilkan data
df2

     nama_barang jenis_barang  jumlah
IDMF     Indomie         food       5
TROF        Taro         food       3
GODF      GG Day         Food       2
DETN    Detergen     non-food       2

*Update cell*

Untuk melakukan update pada baris tertentu, dapat menggunakan pola `cell_yang_ingin_diupdate = data`. Misalnya ingin mengupdate data pada baris "IDMF" kolom "nama_barang", akses terlebih dahulu baris "IDMF" dan kolom "nama_barang" kemudian beri data updatenya.

In [17]:
# update nilai baris TROF kolom nama_barang menjadi Taro SW
df2.loc["TROF","nama_barang"] = "Taro SW" 

# tampilkan data
df2

     nama_barang jenis_barang  jumlah
IDMF     Indomie         food       5
TROF     Taro SW         food       3
GODF      GG Day         Food       2
DETN    Detergen     non-food       2

In [18]:
# update nilai multiple cell
df2.loc[["DETN","GODF"],["jenis_barang","jumlah"]] = [["non-food","1"],["food","3"]] 

# tampilkan data
df2

     nama_barang jenis_barang jumlah
IDMF     Indomie         food      5
TROF     Taro SW         food      3
GODF      GG Day         food      3
DETN    Detergen     non-food      1

**Tambah data pada DataFrame**

Pada dataframe, kita dapat menambah baris atau kolom
* Menambah baris: `dataframe =  dataframe.append(newdata)`
* Menambah kolom: `dataframe[namakolom] =  newdata`

In [19]:
# menambah baris
# buat baris dalam bentuk dataframe
new_row = pd.DataFrame({
    "nama_barang": "Pasta Gigi", 
    "jenis_barang": "non-food", 
    "jumlah": 4}, 
    index=["PGIN"]
    )

# tambahkan data baru ke dataframe yang telah dibuat sebelumnya
df2 = df2.append(new_row)

# tampilkan data
df2

     nama_barang jenis_barang jumlah
IDMF     Indomie         food      5
TROF     Taro SW         food      3
GODF      GG Day         food      3
DETN    Detergen     non-food      1
PGIN  Pasta Gigi     non-food      4

In [20]:
# menambah kolom
# tambahkan kolom baru dengan nama "harga_barang"
df2["harga_barang"] = [2500, 6000, 9000, 4500, 12000]

# tampilkan data
df2

     nama_barang jenis_barang jumlah  harga_barang
IDMF     Indomie         food      5          2500
TROF     Taro SW         food      3          6000
GODF      GG Day         food      3          9000
DETN    Detergen     non-food      1          4500
PGIN  Pasta Gigi     non-food      4         12000

**Menghapus data pada DataFrame**

Pada dataframe, kita dapat menghapus baris atau kolom menggunakan fungsi `drop()`.

* Menghapus baris: `dataframe = dataframe.drop(namaindex)`
* Menghapus kolom: `dataframe = dataframe.drop(namaindex, axis=1)`

In [21]:
# menghapus baris
# menghapus baris pada index PGIN
df2 = df2.drop(["PGIN"])

# tampilkan data
df2

     nama_barang jenis_barang jumlah  harga_barang
IDMF     Indomie         food      5          2500
TROF     Taro SW         food      3          6000
GODF      GG Day         food      3          9000
DETN    Detergen     non-food      1          4500

In [22]:
# menghapus kolom
# menghapus kolom harga_barang
df2 = df2.drop(["harga_barang"], axis=1)

# tampilkan data
df2

     nama_barang jenis_barang jumlah
IDMF     Indomie         food      5
TROF     Taro SW         food      3
GODF      GG Day         food      3
DETN    Detergen     non-food      1